<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="bi bi-vinyl-fill text-purple"></i> ModernMusic
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Головна</a>
        </li>
      </ul>

      <div class="d-flex gap-2 align-items-center" *ngIf="authService.user$ | async as user; else guestTemplate">
        
        <!-- Бачить зареєстрований користувач -->
        <span class="text-light me-2 d-none d-lg-block">Ви зареєстровані як {{ user.email }}</span>

        <a routerLink="/song/new" class="btn btn-purple">
          <i class="bi bi-plus-circle-fill"></i> Додати трек
        </a>

        <button (click)="logout()" class="btn btn-outline-purple">Вихід</button>
      </div>

      <!-- Бачить гість -->
      <ng-template #guestTemplate>
        <div class="d-flex gap-2">
          <a routerLink="/login" class="btn btn-purple">Вхід</a>
          <a routerLink="/register" class="btn btn-outline-purple">Реєстрація</a>
        </div>
      </ng-template>

    </div>
  </div>
</nav>