.separator-line {
    height: 8px;
    width: 100%;
}

.line-cover {
    background-color: var(--neon-green);
    box-shadow: 0 0 12px var(--neon-green); /* Neon glow effect */
}

.line-original {
    background-color: var(--neon-blue);
    box-shadow: 0 0 12px var(--neon-blue); /* Neon glow effect */
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
}